* {
    font-family: 'Exo', sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    
}
body {
    overflow-x: hidden;
}

.flexing {
    display: flex;
}

.top {
    background-image: url(images/top-bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    background-size: cover;
    color: white;
}
.mid {
    background-image: url(images/mid-bg.jpeg);
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: white;
}
.half{
    width: 50%;
}
.name { 
    display: inline-block;
    font-size: 2em;
    margin: 50px 100px;
    padding: 10px 30px;
    border: 3px solid;
    border-image: linear-gradient(purple,aqua);
    border-image-slice: 1;
    border-radius: 50px;
    
}
ul{
    justify-content: flex-end;
    margin-left: 50px;
}

ul li {
    margin-top: 70px;
    list-style-type: none;
}
.link {

    color: white;
    text-decoration: none;
    margin: 150px 10px;
    padding: 10px;

}
.link:hover {
    border-bottom:1px solid ;  
    border-image: linear-gradient(purple,aqua);
    border-image-slice: 9;
    
}



.top-mid {
    font-size: 3rem;
    text-align: center;
    margin-top: 150px;
}
.projects {
    background-image: url(images/experience-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding: 100px;
    font-size: 1.5rem;
}
.coloumn{
    display: flex;
    flex-direction: column;
}

h1 span {
    color: orange;
    font-size: 6rem;
    font-family: Waterfall;
}
.title  {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    
}
.big {
    font-size: 2rem;
}

.orange {
    color: orange !important;
}
.paragraph {
    padding: 50px;
    text-align: justify;
}
.paragraph1 {
    
    float: right;
    padding: 50px;
    text-align: justify;
}
.paragraph h3 {
    padding: 10px 0px;
}
h5 {
    padding: 10px 0px;
}
.projects p {
    color: black;
}
.projects small {
    color: gray;
}

.cards {
    box-shadow: 10px 13px 31px grey;
    margin: 50px;
    padding: 10px;


}
#card1{
    border-left: 5px solid;
    border-image: linear-gradient(blue,aqua);
    border-image-slice: 1;
}
#card2{
    border-left: 5px solid;
    border-image: linear-gradient(green,teal);
    border-image-slice: 1;
    border-radius: 10px;
}
.top-mid a {
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
  
}

.top-mid a:hover{
    background-color: rgba(128, 128, 128, 0.342);
    color: rgba(0, 0, 0, 0.411);
}